<div>
        <h2>how to brew beer</h2>
        <div class="row">
                <div class="col s12">
                        <h4>why brew your own?</h4>
                        <ul>
                                <li>
                                        <p>you will start appreciating beer in a new way</p>
                                </li>
                                <li>
                                        <p>you will want to know more about beers</p>
                                </li>
                                <li>
                                        <p>you will notice that your homebrew is better than most beers</p>
                                </li>
                        </ul>
                        <h4>is it worth it?</h4>
                        <p>yes.</p>
                </div>
        </div>
        <div class="divider"></div>
        <h4>a typical brew day</h4>
        <div class="row">
                <div class="col s2">
                        <p>time:</p>
                </div>
                <div class="col s10">
                        <p>task:</p>
                </div>
        </div>
        <div class="row ">
                <div class="col s2">
                        <p>
                                <b>9:00</b>
                        </p>
                </div>
                <div class="col s10">
                        <p>
                                <b>get brewing gear from the basement</b>
                                <a href="http://howtobrew.com/book/section-3/your-first-all-grain-batch/preparation">preparation</a> +
                                <a href="http://howtobrew.com/book/section-3/your-first-all-grain-batch/additional-equipment">equipment</a>
                        </p>
                </div>
                <div class="col s12 feather">
                        <img class="responsive-img" data-img="img/placeholder.png" src="img/brewing-gear.jpg" />
                </div>
        </div>
        <div class="row ">
                <div class="col s2">
                        <p>
                                <b>9:08</b>
                        </p>
                </div>
                <div class="col s10">
                        <p>
                                <b>boil 1 liters of water for rehydration of the yeast. put the kettle aside until the yeast
                                        need to be preparared.</b>
                                <a href="http://howtobrew.com/book/section-1/yeast/preparing-yeast-and-yeast-starters">how to prepare a yeast</a>
                        </p>
                </div>
                <div class="col s12 feather">
                        <img class="responsive-img" data-img="img/placeholder.png" src="img/yeast-water.jpg" />
                </div>
        </div>
        <div class="row ">
                <div class="col s2">
                        <p>
                                <b>9:10</b>
                        </p>
                </div>
                <div class="col s10">
                        <p>
                                <b>put on some music. i have done my best beers when playing this list on spotify:</b>
                                <a href="https://open.spotify.com/user/looptroopdvsg/playlist/7e6CpaLEn0KlteRwQsWlT5?si=l5IqetHbTECqanC8yOmzOg">hip hop essentials by looptroop rockers</a>
                        </p>
                </div>
        </div>
        <div class="row ">
                <div class="col s2">
                        <p>
                                <b>9:17</b>
                        </p>
                </div>
                <div class="col s10">
                        <p>
                                <b>clean the kitchen. spray all surfaces with sanitation spray to minimize the risk of an infected
                                        beer.</b>
                                <a href="http://howtobrew.com/book/section-1/brewing-preperations/sanitation">sanitation</a>
                        </p>
                </div>
                <div class="col s12 feather">
                        <img class="responsive-img" data-img="img/placeholder.png" src="img/clean-kitchen.jpg" />
                </div>
        </div>
        <div class="row ">
                <div class="col s2">
                        <p>
                                <b>9:25</b>
                        </p>
                </div>
                <div class="col s10">
                        <p>
                                <b>wash the brewing kettle first, so that you can start heating the water for mashing while
                                        cleaning up other equipment.</b>
                                <a href="http://howtobrew.com/book/section-3/the-methods-of-mashing/single-temperature-infusion">singel temperature infusion</a>
                        </p>
                </div>
                <div class="col s12 feather">
                        <img class="responsive-img" data-img="img/placeholder.png" src="img/brewing-kettle.jpg" />
                </div>
        </div>
        <div class="row">
                <div class="col s2">
                        <p>
                                <b>9:30</b>
                        </p>
                </div>
                <div class="col s10">
                        <p>
                                <b>take the yeast from the fridge and put it on the kitchen counter so it reaches room temperature
                                        before rehydration</b>
                                <a href="http://howtobrew.com/book/section-1/yeast/preparing-yeast-and-yeast-starters">how to prepare a yeast</a>
                        </p>
                </div>
                <div class="col s12 feather">
                        <img class="responsive-img" data-img="img/placeholder.png" src="img/prepare-yeast.jpg" />
                </div>
        </div>
        <div class="row">
                <div class="col s2">
                        <p>
                                <b>9:33</b>
                        </p>
                </div>
                <div class="col s10">
                        <p>
                                <b>fill the brewing kettle with 18l of the hottest water that you can get from the tap then
                                        wait until the water will reach 72°C. i use a short hose connected to the tap to
                                        make it easier to fill up the brewing kettle</b>
                        </p>
                </div>
                <div class="col s12 feather">
                        <img class="responsive-img" data-img="img/placeholder.png" src="img/fill-kettle.jpg" />
                </div>
        </div>
        <div class="row">
                <div class="col s2">
                        <p>
                                <b>9:40</b>
                        </p>
                </div>
                <div class="col s10">
                        <p>
                                <b>put the false bottom in the brewing kettle. rinse the grain bag and put it on the brewing
                                        kettle</b>
                        </p>
                </div>
                <div class="col s12 feather">
                        <img class="responsive-img" data-img="img/placeholder.png" src="img/bag-kettle.jpg" />
                </div>
        </div>
        <div class="row">
                <div class="col s2">
                        <p>
                                <b>9:43</b>
                        </p>
                </div>
                <div class="col s10">
                        <p>
                                <b>wash stirring spoon</b>
                        </p>
                </div>
        </div>
        <div class="row">
                <div class="col s2">
                        <p>
                                <b>9:46</b>
                        </p>
                </div>
                <div class="col s10">
                        <p>
                                <b>prepare grains by opening your grain bags and/or weigh the grains according to recipe</b>
                        </p>
                </div>
                <div class="col s12 feather">
                        <img class="responsive-img" data-img="img/placeholder.png" src="img/prepare-grain.jpg" />
                </div>
        </div>
        <div class="row">
                <div class="col s2">
                        <p>
                                <b>9:55</b>
                        </p>
                </div>
                <div class="col s10">
                        <p>
                                <b>when water reaches 72°C lower stove heat to 6 (induction) and add all grain to the brewing
                                        kettle while stirring. lower stove heat to 2. check temperature. at this point it
                                        should be around 67°C. if not, add warm water to increase temperature. let mash for
                                        1 hour. try to keep temperature around 67°. check the temperature every 15min.</b>
                                <a href="http://howtobrew.com/book/section-3/your-first-all-grain-batch/starting-the-mash">starting the mash</a>
                        </p>
                </div>
                <div class="col s12 feather">
                        <img class="responsive-img" data-img="img/placeholder.png" src="img/stir-grain.jpg" />
                </div>
        </div>
        <div class="row">
                <div class="col s2">
                        <p>
                                <b>9:56</b>
                        </p>
                </div>
                <div class="col s10">
                        <p>
                                <b>wash fermenter and drainer</b>
                        </p>
                </div>
                <div class="col s12 feather">
                        <img class="responsive-img" data-img="img/placeholder.png" src="img/fermenter-drainer.jpg" />
                </div>
        </div>
        <div class="row">
                <div class="col s2">
                        <p>
                                <b>9:59</b>
                        </p>
                </div>
                <div class="col s10">
                        <p>
                                <b>brew coffee</b>
                                <a href="https://pressodesign.com/blogs/news/how-to-make-a-perfect-coffee-using-a-cafetiere">how to brew coffee using a cafetiere</a>
                        </p>
                </div>
                <div class="col s12 feather">
                        <img class="responsive-img" data-img="img/placeholder.png" src="img/brew-coffee.jpg" />
                </div>
        </div>
        <div class="row">
                <div class="col s2">
                        <p>
                                <b>10:06</b>
                        </p>
                </div>
                <div class="col s10">
                        <p>
                                <b>boil water in the 5 liter kettle. this will be used as sparge water</b>
                                <a href="http://howtobrew.com/book/section-3/getting-the-wort-out-lautering/aspects-of-lautering">aspects of lautering</a>
                        </p>
                </div>
        </div>
        <div class="row">
                <div class="col s2">
                        <p>
                                <b>10:15</b>
                        </p>
                </div>
                <div class="col s10">
                        <p>
                                <b>drink coffee</b>
                                <a href="https://lifehacker.com/5944489/how-to-kick-your-caffeine-addiction-and-actually-enjoy-your-coffee-again">how to enjoy coffee again</a>
                        </p>
                </div>
                <div class="col s12 feather">
                        <img class="responsive-img" data-img="img/placeholder.png" src="img/enjoy-coffee.jpg" />
                </div>
        </div>
        <div class="row">
                <div class="col s2">
                        <p>
                                <b>10:16</b>
                        </p>
                </div>
                <div class="col s10">
                        <p>
                                <b>wash all unwashed equipment</b>
                        </p>
                </div>
                <div class="col s12 feather">
                        <img class="responsive-img" data-img="img/placeholder.png" src="img/wash-rest.jpg" />
                </div>
        </div>
        <div class="row">
                <div class="col s2">
                        <p>
                                <b>10:23</b>
                        </p>
                </div>
                <div class="col s10">
                        <p>
                                <b>prepare grain bag drain station. put a layer of old newspapers under and around the fermenter.</b>
                        </p>
                </div>
        </div>
        <div class="row">
                <div class="col s2">
                        <p>
                                <b>10:59</b>
                        </p>
                </div>
                <div class="col s10">
                        <p>
                                <b>start mash out with raising the temperature of the brewing kettle to 76°C. also check that
                                        the temperature of the spareg water is around 76°C </b>
                        </p>
                </div>
        </div>
        <div class="row">
                <div class="col s2">
                        <p>
                                <b>11:07</b>
                        </p>
                </div>
                <div class="col s10">
                        <p>
                                <b>lift grain bag out of the kettle and put it in the drainer on top of the fermenter. pour
                                        sparge water in the grain bag when you feel comfortable to let go of the bag. use
                                        some sort of clip to keep the bag closed so it can drip alone</b>
                        </p>
                </div>
                <div class="col s12 feather">
                        <img class="responsive-img" data-img="img/placeholder.png" src="img/grain-drain.jpg" />
                </div>
        </div>
        <div class="row">
                <div class="col s2">
                        <p>
                                <b>11:28</b>
                        </p>
                </div>
                <div class="col s10">
                        <p>
                                <b>pour the wort from the fermenter to the brew kettle and add more of the hottest water from
                                        the tap so that amount of wort is 25 liters</b>
                        </p>
                </div>
        </div>
        <div class="row">
                <div class="col s2">
                        <p>
                                <b>11:33</b>
                        </p>
                </div>
                <div class="col s10">
                        <p>
                                <b>start boiling the wort in the brewing kettle. it will take a while before it reaches the
                                        boiling temeprature</b>
                        </p>
                </div>
        </div>
        <div class="row">
                <div class="col s2">
                        <p>
                                <b>11:35</b>
                        </p>
                </div>
                <div class="col s10">
                        <p>
                                <b>wash and sanitize the fermenter and the fermenters lid</b>
                        </p>
                </div>
        </div>
        <div class="row">
                <div class="col s2">
                        <p>
                                <b>11:45</b>
                        </p>
                </div>
                <div class="col s10">
                        <p>
                                <b>weigh hops and put them in small cups in the correct order according to the recipe</b>
                        </p>
                </div>
                <div class="col s12 feather">
                        <img class="responsive-img" data-img="img/placeholder.png" src="img/weighing-hops.jpg" />
                </div>
        </div>
        <div class="row">
                <div class="col s2">
                        <p>
                                <b>12:00</b>
                        </p>
                </div>
                <div class="col s10">
                        <p>
                                <b>when the wort in the brewing kettle have started to boil add hops according to recipe</b>
                        </p>
                </div>
                <div class="col s12 feather">
                        <img class="responsive-img" data-img="img/placeholder.png" src="img/boil-wort.jpg" />
                </div>
        </div>
        <div class="row">
                <div class="col s2">
                        <p>
                                <b>13:07</b>
                        </p>
                </div>
                <div class="col s10">
                        <p>
                                <b>cool the wort as fast as possible until it reaches room temperature</b>
                                <a href="http://howtobrew.com/book/section-1/boiling-and-cooling/cooling-the-wort">cooling the wort</a>
                        </p>
                </div>
                <div class="col s12 feather">
                        <img class="responsive-img" data-img="img/placeholder.png" src="img/chill-wort.jpg" />
                </div>
        </div>
        <div class="row">
                <div class="col s2">
                        <p>
                                <b>13:15</b>
                        </p>
                </div>
                <div class="col s10">
                        <p>
                                <b>start preparing the yeast. check that the temperature of the boiled water is between 30 -
                                        41 celsius. dissolve yeast in sanitized container.</b>
                                <a href="http://howtobrew.com/book/section-1/yeast/preparing-yeast-and-yeast-starters">preparing yeast and yeast starters</a>
                        </p>
                </div>
                <div class="col s12 feather">
                        <img class="responsive-img" data-img="img/placeholder.png" src="img/disolve-yeast.jpg" />
                </div>
        </div>
        <div class="row">
                <div class="col s2">
                        <p>
                                <b>13:28</b>
                        </p>
                </div>
                <div class="col s10">
                        <p>
                                <b>move wort to fermenter and aeriate it properly</b>
                                <a href="http://howtobrew.com/book/section-1/yeast/yeast-nutritional-needs/oxygen">oxygen</a>,
                                <a href="http://howtobrew.com/book/section-1/yeast/yeast-nutritional-needs/aeration-is-good-oxidation-is-bad">aeration is good oxidation is bad</a>
                        </p>
                </div>
                <div class="col s12 feather">
                        <img class="responsive-img" data-img="img/placeholder.png" src="img/aeriate-wort.jpg" />
                </div>
        </div>
        <div class="row">
                <div class="col s2">
                        <p>
                                <b>13:30</b>
                        </p>
                </div>
                <div class="col s10">
                        <p>
                                <b>taste beer and measure OG</b>
                                <a href="http://howtobrew.com/book/section-1/fermenting-your-first-beer/how-much-alcohol-will-there-be">how much alcohol will there be</a>
                        </p>
                </div>
                <div class="col s12 feather">
                        <img class="responsive-img" data-img="img/placeholder.png" src="img/measure-og.jpg" />
                </div>
        </div>
        <div class="row">
                <div class="col s2">
                        <p>
                                <b>13:39</b>
                        </p>
                </div>
                <div class="col s10">
                        <p>
                                <b>pitch the rehydrated yeast to the wort in the fermenter</b>
                        </p>
                </div>
                <div class="col s12 feather">
                        <img class="responsive-img" data-img="img/placeholder.png" src="img/pitch-yeast.jpg" />
                </div>
        </div>
        <div class="row">
                <div class="col s2">
                        <p>
                                <b>13:41</b>
                        </p>
                </div>
                <div class="col s10">
                        <p>
                                <b>put the lid on and prepare air lock with vodka or water with starsan</b>
                        </p>
                </div>
                <div class="col s12 feather">
                        <img class="responsive-img" data-img="img/placeholder.png" src="img/water-lock.jpg" />
                </div>
        </div>
        <div class="row">
                <div class="col s2">
                        <p>
                                <b>13:45</b>
                        </p>
                </div>
                <div class="col s10">
                        <p>
                                <b>clean up the kitchen</b>
                        </p>
                </div>
        </div>
        <div class="row">
                <div class="col s2">
                        <p>
                                <b>14:00</b>
                        </p>
                </div>
                <div class="col s10">
                        <p>
                                <b>done!</b>
                        </p>
                </div>
                <div class="col s12 feather">
                        <img class="responsive-img" data-img="img/placeholder.png" src="img/brew-done.jpg" />
                </div>
        </div>
</div>