<h2>code</h2>

<p>i like sharing stuff i know and have tried. these instructions will let you download a copy of this site and with comments in the code that can help you on the way.</p>
<p>in the end you will also find links to some handy links when you are setting up a droplet server and how to connect your url to your droplet.</p>

<h3>chocolatey</h3>
<p>first of all i really like using <a href="https://chocolatey.org/docs/installation">chocolatey</a>. it is a good packet manager for windows like apt-get in linux. i will do all the program installation steps with chocolatey, so please install it if you want a faster ride.</p>
<a class="waves-effect waves-light btn amber lighten-2" href="https://chocolatey.org/docs/installation">Chocolatey getting started docs</a>
<p>here is the command that you can paste in your command line tool to install chocolatey: <br />
<b>@"%SystemRoot%\System32\WindowsPowerShell\v1.0\powershell.exe" -NoProfile -InputFormat None -ExecutionPolicy Bypass -Command "iex ((New-Object System.Net.WebClient).DownloadString('https://chocolatey.org/install.ps1'))" && SET "PATH=%PATH%;%ALLUSERSPROFILE%\chocolatey\bin"</b></p>
<h3>cmder</h3>
<p>as command line tool i use cmder. it is really smooth and nice to use. it will also remember all the commands you execute.</p>
<pre>choco install cmder -y</pre>
<p>once installed start cmder with administrator priviliges by right clicking cmder and choose "Run as Administrator". now you can start installing stuff</p>
<h3>git</h3>
<pre>choco install git -y</pre>
<h3>node</h3>
<pre>choco install node -y</pre>
<h3>installation</h3>
<button type="button" ng-click="getData()">Get DATA!</button>
<h3>droplet</h3>
<a class="waves-effect waves-light btn amber lighten-2" href="https://m.do.co/c/e8c6477a8e5b">Please use this button to register at DO</a><br />
<a class="waves-effect waves-light btn amber lighten-2" href="https://www.digitalocean.com/products/one-click-apps/lamp/">After registering you can easily create a Ubuntu server with LAMP stack</a><br />
<a class="waves-effect waves-light btn amber lighten-2" href="https://www.digitalocean.com/community/tutorials/initial-server-setup-with-ubuntu-16-04">initial setup for your ubuntu server</a><br />
<a class="waves-effect waves-light btn amber lighten-2" href="https://www.digitalocean.com/community/tutorials/how-to-set-up-a-firewall-with-ufw-on-ubuntu-16-04">setup firewall for your ubuntu server</a><br />
<a class="waves-effect waves-light btn amber lighten-2" href="https://www.digitalocean.com/community/tutorials/how-to-set-up-a-host-name-with-digitalocean">how to connect your domain name to your droplet</a><br />
<a class="waves-effect waves-light btn amber lighten-2" href="http://withr.me/add-domain-name-for-your-server-on-digitalocean/">how to connect your domain name to your DO droplet with GoDaddy</a><br />
