<h2>curriculum vitae</h2>
<div class="row">
    <div class="col s12">
        <h3>who is jens</h3>
        <p>jens has a curious mind. he is always exploring something in the quest of acquiring a new skill. this could be anything from rock climbing to learing a new front-end library. he favours projects where he will be out of his comfort zone and learn something rather than just using the skill set he already possess.</p>       
        <h3>why jens</h3>
        <p>he has his mind set on an "out-of-the-box" setting when solving challenging tasks. jens does not have a fear of taking responsibility. he is honest and will see to that tasks given will be completed before deadline. his social and outgoing personality is positively affecting others around him and he does his part to see that the team he is working with is dedicated to the tasks assigned. jens is very social and has an outgoing personality which makes him easy to communicate with.</p>
    </div>
</div>
<h3>work experience</h3>
<div class="row">
    <div class="col s12">
        <div class="divider"></div>
    </div>
    <div class="col s12 m4">
        <p><a href="http://accigo.se" target="_blank"><img class="cv-img responsive-img" src="img/accigo.png"></a></p>
        <p>Accigo AB</p>
        <p>consultant</p>
        <p>feb 2015 - present</p>
    </div>
    <div class="col s12 m8">
        <p><b>summary</b></p>
        <p>jens started working mainly with front-end development of custom ui for sharepoint 2010, 2013 and online. the main focus was to use angularjs to display content. jquery was also used to some extent to create a better experience.</p>
        <p>a few weeks after joining accigo he started doing more back-end in c# for sharepoint. mainly for developing apis connecting lists and displaying content in custom webparts for sharepoint.</p>
        <p>in 2016 jens did a mobile app project based on the Ionic app development framework. the project was his first as a solution architect at accigo.</p>
        <p></p>
        <div class="row">
            <div class="col">
                <p><b>customer sectors</b></p>
                <ul>
                    <li>pharmacy</li>
                    <li>legal</li>
                    <li>medical</li>
                    <li>voluntary organizations</li>
                    <li>optic</li>
                </ul>
            </div>
            <div class="col">
                <p><b>tools and languages</b></p>
                <ul>
                    <li>Visual Studio Code</li>
                    <li>Visual Studio 2017</li>
                    <li>Visual Studio 2015</li>
                    <li>MS SSMS</li>
                    <li>PowerShell</li>
                    <li>SQL</li>
                    <li>C#</li>
                    <li>php</li>
                    <li>JavaScript</li>
                    <li>HTML</li>
                    <li>CSS</li>
                </ul>
            </div>
            <div class="col">
                <p><b>development</b></p>
                <ul>
                    <li>Azure</li>
                    <li>SharePoint 2013 & Online</li>
                    <li>SharePoint 2010</li>
                    <li>.Net</li>
                    <li>WordPress</li>
                    <li>AngularJS</li>
                    <li>jQuery</li>
                    <li>Less</li>
                    <li>Gulp</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <div class="divider"></div>
    </div>
    <div class="col s12 m4">
        <p><a href="http://cubelux.fi" target="_blank"><img class="cv-img circle responsive-img" src="img/cubelux.png"></a></p>
        <p>Ab Cubelux Oy<p>
        <p>co-founder/developer</p>
        <p>sep 2011 - present</p>
    </div>
    <div class="col s12 m8">
        <p><b>summary</b></p>
        <p>jens co-founded Cubelux with tiina krokfors in the end of their university studies to get to know the entreprenures in them selfes. tiinas father martin krokfors and jens friend patrik nylund is also co-founding partners in cubelux. the main focus for the new company was to provide web development in wordpress and provide clients extra developers.</p>
        <p>jens started out developing a website for a staffing company and then did some smaller web development projects. he is now working with a client and providing development and wordpress consultation. he is also maintaining web servers hosting cubelux client sites.</p>
        <div class="row">
            <div class="col">
                <p><b>customer sectors</b></p>
                <ul>
                    <li>staffing</li>
                    <li>retail</li>
                    <li>wine</li>
                    <li>military</li>
                    <li>art</li>
                    <li>media</li>
                </ul>
            </div>
            <div class="col">
                <p><b>tools and languages</b></p>
                <ul>
                    <li>Visual Studio Code</li>
                    <li>MySQL Workbench</li>
                    <li>Sublime 3</li>
                    <li>Notepad++</li>
                    <li>LAMP</li>
                    <li>Node.js</li>
                    <li>MySQL</li>
                    <li>php</li>
                    <li>ActionScript 3</li>
                    <li>JavaScript</li>
                    <li>HTML</li>
                    <li>CSS</li>
                </ul>
            </div>
            <div class="col">
                <p><b>development</b></p>
                <ul>
                    <li>Ubuntu server</li>
                    <li>WordPress</li>
                    <li>AngularJS</li>
                    <li>jQuery</li>
                    <li>Grunt</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <div class="divider"></div>
    </div>
    <div class="col s12 m4">
        <p><a href="http://hiq.com" target="_blank"><img class="cv-img responsive-img" src="img/hiq.png"></a></p>
        <p>HiQ Finland Oy</p>
        <p>SharePoint UI developer</p>
        <p>aug 2012 - jan 2015</p>
    </div>
    <div class="col s12 m8">
        <p><b>summary</b></p>
        <p>jens worked mainly with front-end development of custom ui for SharePoint 2010, 2013 and Online.</p>
        <div class="row">
            <div class="col">
                <p><b>customer sectors</b></p>
                <ul>
                    <li>it</li>
                    <li>education</li>
                    <li>pharmacy</li>
                    <li>retail</li>
                    <li>finance</li>
                    <li>banking</li>
                    <li>insurance</li>
                    <li>industry</li>
                    <li>recycling</li>
                    <li>healthcare</li>
                    <li>media</li>
                </ul>
            </div>
            <div class="col">
                <p><b>tools and languages</b></p>
                <ul>
                    <li>Visual Studio 2012</li>
                    <li>Visual Studio 2013</li>
                    <li>PowerShell</li>
                    <li>SQL</li>
                    <li>C#</li>
                    <li>php</li>
                    <li>JavaScript</li>
                    <li>HTML</li>
                    <li>CSS</li>
                </ul>
            </div>
            <div class="col">
                <p><b>development</b></p>
                <ul>
                    <li>SharePoint 2013 & Online</li>
                    <li>SharePoint 2010</li>
                    <li>EpiServer</li>
                    <li>WordPress</li>
                    <li>AngularJS</li>
                    <li>KnockOut</li>
                    <li>jQuery</li>
                    <li>CoffeeScript</li>
                    <li>Less</li>
                    <li>Grunt</li>
                    <li>Gulp</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<h3>education</h3>
<div class="row">
    <div class="col s12">
        <div class="divider"></div>
    </div>
    <div class="col s12 m4">
        <p><a href="http://arcada.fi" target="_blank"><img class="cv-img circle responsive-img" src="img/arcada.png"></a></p>
        <p>Arcada</p>
        <p>bachelor of science, media technology</p>
        <p>aug 2007 - june 2013</p>
    </div>
    <div class="col s12 m8">
        <p><b>summary</b></p>
        <p>jens started arcada in the hope of beeing a sound engineer, but he got of his path and joined the web development cult.</p>
        <div class="row">
            <div class="col">
                <p><b>area</b></p>
                <ul>
                    <li>web development</li>
                    <li>photgraphy</li>
                    <li>moviemaking</li>
                    <li>sound</li>
                    <li>electronics</li>
                    <li>physics</li>
                    <li>math</li>
                    <li>leadership</li>
                    <li>language</li>
                </ul>
            </div>
            <div class="col">
                <p><b>tools</b></p>
                <ul>
                    <li>LAMP Stack</li>
                    <li>Photoshop</li>
                    <li>Avid</li>
                    <li>Cubase</li>
                    <li>Eagle</li>
                    <li>BlueJay</li>
                    <li>MS Project</li>
                    <li>NotePad++</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>
<h3>technical proficiency</h3>
<div class="row">
    <div class="col s6 m6 l4">
        <div class="card-panel blue lighten-5">
            <p class="center-align flow-text">json</p>
        </div>
    </div>
    <div class="col s6 m6 l4">
        <div class="card-panel blue lighten-5">
            <p class="center-align flow-text">xml</p>
        </div>
    </div>
    <div class="col s6 m6 l4">
        <div class="card-panel blue lighten-5">
            <p class="center-align flow-text">javascript</p>
        </div>
    </div>
    <div class="col s6 m6 l4">
        <div class="card-panel blue lighten-5">
            <p class="center-align flow-text">angularjs</p>
        </div>
    </div>
    <div class="col s6 m6 l4">
        <div class="card-panel blue lighten-5">
            <p class="center-align flow-text">react</p>
        </div>
    </div>
    <div class="col s6 m6 l4">
        <div class="card-panel blue lighten-5">
                <p class="center-align flow-text">jquery</p>
            </div>
        </div>
        <div class="col s6 m6 l4">
            <div class="card-panel blue lighten-5">
            <p class="center-align flow-text">wordpress</p>
        </div>
    </div>
    <div class="col s6 m6 l4">
        <div class="card-panel blue lighten-5">
            <p class="center-align flow-text">sharepoint</p>
        </div>
    </div>
    <div class="col s6 m6 l4">
        <div class="card-panel blue lighten-5">
                <p class="center-align flow-text">episerver</p>
            </div>
        </div>
        <div class="col s6 m6 l4">
            <div class="card-panel blue lighten-5">
            <p class="center-align flow-text">c#</p>
        </div>
    </div>
    <div class="col s6 m6 l4">
        <div class="card-panel blue lighten-5">
            <p class="center-align flow-text">php</p>
        </div>
    </div>
    <div class="col s6 m6 l4">
        <div class="card-panel blue lighten-5">
            <p class="center-align flow-text">sql</p>
        </div>
    </div>
    <div class="col s6 m6 l4">
        <div class="card-panel blue lighten-5">
            <p class="center-align flow-text">ionic</p>
        </div>
    </div>
    <div class="col s6 m6 l4">
        <div class="card-panel blue lighten-5">
            <p class="center-align flow-text">xamarin</p>
        </div>
    </div>
    <div class="col s6 m6 l4">
        <div class="card-panel blue lighten-5">
            <p class="center-align flow-text">visual studio</p>
        </div>
    </div>
</div>
<div class="divider"></div>
<h3>key competences</h3>
<div class="row">
    <div class="col s6 m6 l4">
        <div class="card-panel blue lighten-5">
            <p class="center-align flow-text">consulting</p>
        </div>
    </div>
    <div class="col s6 m6 l4">
        <div class="card-panel blue lighten-5">
            <p class="center-align flow-text">leadership</p>
        </div>
    </div>
    <div class="col s6 m6 l4">
        <div class="card-panel blue lighten-5">
            <p class="center-align flow-text">system architect</p>
        </div>
    </div>
    <div class="col s6 m6 l4">
        <div class="card-panel blue lighten-5">
            <p class="center-align flow-text">front-end</p>
        </div>
    </div>
    <div class="col s6 m6 l4">
        <div class="card-panel blue lighten-5">
            <p class="center-align flow-text">back-end</p>
        </div>
    </div>
    <div class="col s6 m6 l4">
        <div class="card-panel blue lighten-5">
            <p class="center-align flow-text">sql</p>
        </div>
    </div>
    <div class="col s6 m6 l4">
        <div class="card-panel blue lighten-5">
            <p class="center-align flow-text">full-stack</p>
        </div>
    </div>
    <div class="col s6 m6 l4">
        <div class="card-panel blue lighten-5">
            <p class="center-align flow-text">ui design</p>
        </div>
    </div>
    <div class="col s6 m6 l4">
        <div class="card-panel blue lighten-5">
            <p class="center-align flow-text">scrum</p>
        </div>
    </div>
</div>