<h2>lifehacks that have helped me</h2>
<div class="row">
    <div class="col s12">
        <p><b>1. make your stomach happy</b></p>
        <p>every morning before work, add 1 tbsp of whole flaxseed to a glass of water. drink the flaxseed water the same evening. your digestion system will thank you.</p>
        <p><b>2. intermitten fasting</b></p>
        <p>start with skipping breakfast and keep on going until lunch time and eat a big lunch. eat a snack a few hours later. eat a big dinner and try to not eating anything after that. aim for a 12 hour window at first.</p>
        <p>read <a href="https://leangains.com/the-leangains-guide/">the leangains guide</a> to get your intermitten fasting going</p>
        <p><b>3. work out</b></p>
        <p>do not spend more than 1 hour training at the gym</p>
        <p>example day</p>
        <ul>
            <li>1. warmup 2 - 10 minutes on a rowing machine, cross trainer, running mat or exersice bike</li>
            <li>2. main lift 3 sets of 5 reps. on last set do as many reps as possible. add weight next time doing the exercise if you could do more than 5 on last set.</li>
            <li>3. assistance work. choose 2 exercises and do 3 sets of 10 reps for each excersice.</li>
            <li>4. go home</li>
        </ul>
        <p>a good starting point: <a href="https://jimwendler.com/blogs/jimwendler-com/101065094-5-3-1-for-a-beginner">Jim Wendler: 5/3/1 for a beginner</a></p>
        <p>avoid fuckarounditis: <a href="https://leangains.com/fuckarounditis/">Martin Berkhan: fuckarounditis</a></p>
        <p>a guide to reverse pyramid training: <a href="https://leangains.com/reverse-pyramid-training-guide/">Martin Berkhan: reverse pyramid training guide</a></p>
        <p><b>4. guided meditation</b></p>
        <p>open up your favorite search enginge and do a search for "guided meditation". choose one that is around 15 - 30 minute in the begining and find what works for you. i prefer listening to yoga nidra.</p>
    </div>
</div>