    <div id="cv" class="section">
       <h1 class="center-align"><a href="cv">cv</a></h1>
    </div>
    <div class="divider"></div>
    <p class="right-align">professional achivements</p>
    <!-- section end -->
    <div id="yoga" class="section">
        <h1 class="center-align"><a class="center-align" href="yoga">yoga</a></h1>
    </div>
    <div class="divider"></div>
    <p class="right-align">undo a day at a desk</p>
    <!-- section end -->
    <div id="brewing" class="section">
        <h1 class="center-align"><a class="center-align" href="brewing">brewing</a></h1>
    </div>
    <div class="divider"></div>
    <p class="right-align">how to brew beer</p>
    <!-- section end -->
    <div id="sriracha" class="section">
        <h1 class="center-align"><a class="center-align grey-text text-lighten-2" href="sriracha">home made "sriracha"</a></h1>
    </div>
    <div class="divider"></div>
    <p class="right-align">in progress - put a little edge to your food</p>
    <!-- section end -->
    <div id="lifehacks" class="section">
        <h1 class="center-align"><a class="center-align grey-text text-lighten-2" href="lifehacks">lifehacks</a></h1>
    </div>
    <div class="divider"></div>
    <p class="right-align">in progress - live a little easier</p>
    <!-- section end -->
    <div id="code" class="section">
        <h1 class="center-align grey-text text-lighten-4">code</h1>
    </div>
    <div class="divider"></div>
    <p class="right-align">coming soon - how to copy this site with pride</p>
    <!-- section end -->
    <div id="if" class="section">
        <h1 class="center-align"><a class="center-align grey-text text-lighten-4" href="intermitten-fasting">intermitten fasting</a></h1>
    </div>
    <div class="divider"></div>
    <p class="right-align">coming soon - eat what you want and become healthier</p>
    <!-- section end -->
    <div id="lifting" class="section">
        <h1 class="center-align grey-text text-lighten-4">lifting</h1>
    </div>
    <div class="divider"></div>
    <p class="right-align">coming soon - 45 min strength guide</p>
    <!-- section end -->
    <div id="cold-brew" class="section">
        <h1 class="center-align grey-text text-lighten-4">cold brew</h1>
    </div>
    <div class="divider"></div>
    <p class="right-align">coming soon - coffee with less acid</p>
    <!-- section end -->